@charset "UTF-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, ul, ol, li, p {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}
ol, ul > li{
    float: left;
    padding: 0.4em 1em;
}
a{
    color: inherit;
    text-decoration: none;
}
html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    border-top: 0.5em ridge #F60;
    background-color: ivory;
    height: 100%;
}

.content {
    min-height: 100%;
}

.container {
    overflow: hidden;
    padding: 1% 1%;
    height: auto;
    padding-bottom: 25px;
    text-align: center;
}

h1 {
    color: #635E5E;
    text-align: center;
}

#search {
    border: solid 1px #D8D3D3;
    border-radius: 0.4em;
    width: 80%;
    background-color: rgba(245, 231, 231, 0.5);
    padding: 1% 1%;
    font-size: 1.2em;
}

#search :hover {
    border: 2px solid blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
}

.list {
    width: 80%;
    margin: 1em auto;
    text-align: left;
}

.list li {
    padding: 1em 1em;
    line-height: 1.8em;
    display: inline-block;
    border-bottom: dashed #50ffda 1px;
    width: 100%;
    float: left;
    position: relative;
}

.list li:hover {
    background-color: rgba(255, 212, 22, 0.4);
    color: #230782;
}

.highlight {
    color: red;
    background-color: #50ffda;
}

.date {
    color: gray;
    position: absolute;
    right: 0;
    bottom: 0;
}

footer {
    width: 100%;
    border-top: solid 1px silver;
    text-align: center;
    margin-top: -20px;
}
.delete{
    color:red;
    font-weight: bold;
    cursor: pointer;
}
.pageNav  li,#next,#pre{
    color: green;
    background-color: #F3F3ED;
}
.pagelist{
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.pagelist *:hover{
        cursor: pointer;
        color:#190BD4;
}


#next,#pre,.pageNav{
    float:right;
}
#listView{
    float: right;
    padding: 1% 2%;
    background-color: transparent;
}


#addDialog {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-color: rgba(1,1,1,0.3);
}

#addDialog div {
    width:300px;
    margin: 100px auto;
    padding:15px;
    text-align:center;
    background: rgb(249, 248, 223);
}
#addDialog a{
    float: right;
}

#add{
    float: left;
    padding: 1% 2%;
    font-weight: bold;
}
